---
import HomeCard from '../components/HomeCard';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Generador de contraseñas">
	<main class="w-full h-full grid place-items-center">
		<HomeCard client:only="react"/>
	</main>
</Layout>